.error-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ff4d4d; /* Красный цвет для текста */
  }
  
  .icon-circle {
    width: 60px;
    height: 60px;
    border: 5px solid #ff4d4d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 77, 77, 0.1); /* Светлый фон */
  }
  
  .exclamation-mark {
    font-size: 30px;
    font-weight: bold;
  }
  
  .error-message {
    margin-top: 10px;
    font-size: 16px;
  }