/* Общие стили для страницы */
.page-container {
    padding: 20px;
    font-family: Arial, sans-serif; /* Шрифт для текста */
}

/* Стили для заголовка */
.page-title {
    font-size: 2em; /* Размер заголовка */
    margin-bottom: 20px; /* Отступ снизу */
}

/* Стили для контейнера с кнопками */
.button-container {
    margin-bottom: 20px; /* Отступ снизу */
}

/* Общие стили для кнопок */
button {
    padding: 10px 15px; /* Отступы кнопки */
    background-color: #007bff; /* Цвет кнопки */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3; /* Цвет кнопки при наведении */
}

/* Стили для списка элементов */
.item-list {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
}

/* Стили для каждого элемента списка */
.item {
    margin-bottom: 20px; /* Отступ между элементами списка */
    border: 1px solid #ccc; /* Светлое обрамление */
    border-radius: 5px; /* Закругленные углы */
    padding: 15px; /* Отступ внутри элемента списка */
    background-color: #f9f9f9; /* Фон для элемента списка */
}

/* Стили для заголовков внутри элемента */
.item h3 {
    margin: 0; /* Убираем отступы */
    font-size: 1.5em; /* Размер подзаголовка */
}

/* Стили для текстов внутри элемента */
.item p {
    margin: 10px 0; /* Отступы */
}

/* Стили для ссылок внутри элемента */
.item a {
    color: #007bff; /* Цвет ссылки */
    text-decoration: none; /* Убираем подчеркивание */
}

.item a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

/* Стили для блока кода */
.code-display {
    background-color: #282c34; /* Темный фон для блока кода */
    color: #ffffff; /* Цвет текста */
    padding: 10px; /* Отступы внутри блока кода */
    border-radius: 5px; /* Закругленные углы */
    overflow: auto; /* Горизонтальная прокрутка при необходимости */
}

.update-button {
    background-color: #28a745; /* Зелёный цвет */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .update-button:hover {
    background-color: #218838; /* Тёмно-зелёный при наведении */
  }
  
  