.loading-spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Занимает всю высоту экрана */
    background-color: #f0f0f0; /* Фоновый цвет */
  }
  
 
  .loading-text {
    margin-top: 20px;
    font-size: 18px;
    color: #3498db; /* Цвет текста */
    font-family: Arial, sans-serif;
  }

  .loading-spinner {
    width: 60px;
    height: 60px;
    border: 6px solid transparent;
    border-top: 6px solid #3498db;
    border-right: 6px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    background: conic-gradient(
      from 90deg at 50% 50%,
      rgba(52, 152, 219, 0) 0%,
      rgba(52, 152, 219, 1) 100%
    );
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }