* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(27, 27, 32);
  color: white;
}

.app-container {
  padding: 0;
}

.header {
  width: 100%;
  margin-bottom: 20px;
}

.themes-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.category-link {
  display: inline-block;
  margin: 5px 0;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.category-link:hover {
  background-color: #0056b3;
}

.category-link:active {
  background-color: #004494;
}

.content-container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.text-content {
  flex: 1;
}
.map-image {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
}
