* {
  margin: 0; /* Убираем встроенные отступы */
  padding: 0; /* Убираем встроенные отступы */
  box-sizing: border-box; /* Устанавливаем модель коробки */
}

p {
  color: rgb(24, 22, 22);
  font-size: 16px;
}

h1 {
  color: blanchedalmond !important;
}

h2,
h3,
h4,
h5,
h6 {
  color: black;
}
body {
  background-color: rgb(27, 27, 32); /* Фон всего приложения синий */
  color: white; /* Цвет текста, чтобы он был виден на синем фоне */
}

.app-container {
  padding: 0;
}

.header {
  width: 100%; /* Ширина шапки на всю ширину */
  margin-bottom: 20px; /* Отступ снизу для шапки, если требуется */
}

.content-container {
  display: flex; /* Используем Flexbox для размещения элементов */
}

.outlet {
  flex: 1; /* Занимает 50% ширины */
  margin-right: 20px; /* Отступ справа */
}

.map-image {
  max-width: 100%; /* Максимальная ширина изображения */
  height: auto; /* Автоматическая высота для сохранения пропорций */
  flex: 1; /* Занимает 50% ширины */
}
